* {
  box-sizing: border-box
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  /* padding: 30px; */
}

main {
  max-width: 960px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

label {
  display: block;
  margin-bottom: 5%;
  margin-top: 5%;
}

.hidden {
  display: none;
}

.text-report dt:after {
  content: ": ";
}

form.js-textform {
  position: relative;
  font-size: 2vw;
  margin: 0 auto;
}

dt {
  margin-top: 7%;
  margin-bottom: 6%;
  min-height: 5vw;
  background-color: #6ddcdc;
  border-radius: 5px;
  line-height: 23px;
  padding-top: 3%;
  font-size: 1.4vw;
}

button {
  margin-top: 2%;
  outline: none;
  border: none;
  border-radius: 3px;
  background-color: #6ddcdc;
  width: 15%;
  position: relative;
  height: 50px;
  transition: filter 200ms linear;
}

button:hover {
  filter: brightness(75%);
  }

button:active {
    filter: brightness(150%);
}

dd p:hover,
dd li:hover {
  color: green;
  transition: color ease-in-out 300ms;
}

textarea#user-text {
    width: 80%;
    resize: none;
    border-radius: 4px;
    border: 1px #7b2822 solid;
    height: 20vw;
}